@-moz-keyframes fade-in {
  /* line 41, ../sass/_mixins.scss */
  from {
    opacity: 0;
  }

  /* line 44, ../sass/_mixins.scss */
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  /* line 41, ../sass/_mixins.scss */
  from {
    opacity: 0;
  }

  /* line 44, ../sass/_mixins.scss */
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  /* line 41, ../sass/_mixins.scss */
  from {
    opacity: 0;
  }

  /* line 44, ../sass/_mixins.scss */
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-out {
  /* line 50, ../sass/_mixins.scss */
  from {
    opacity: 1;
  }

  /* line 53, ../sass/_mixins.scss */
  to {
    opacity: 0;
  }
}
@-webkit-keyframes fade-out {
  /* line 50, ../sass/_mixins.scss */
  from {
    opacity: 1;
  }

  /* line 53, ../sass/_mixins.scss */
  to {
    opacity: 0;
  }
}
@keyframes fade-out {
  /* line 50, ../sass/_mixins.scss */
  from {
    opacity: 1;
  }

  /* line 53, ../sass/_mixins.scss */
  to {
    opacity: 0;
  }
}
/* line 5, ../sass/styles.scss */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 14, ../sass/styles.scss */
body {
  background-image: url("../images/logo.svg");
  background-position: bottom 4.5vw right 4.5vw;
  background-repeat: no-repeat;
  background-color: #f27134;
  -moz-background-size: 15vw 15vw;
  -o-background-size: 15vw 15vw;
  -webkit-background-size: 15vw 15vw;
  background-size: 15vw 15vw;
  color: #ffffff;
  font-family: 'Whitney A', 'Whitney B', Helvetica, Arial, sans-serif;
  font-size: 2em;
}
/* line 26, ../sass/styles.scss */
body #counter,
body #message,
body #stream-container {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: opacity 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 37, ../sass/styles.scss */
body #message, body #message h1 {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 41, ../sass/styles.scss */
body #message h1 {
  -moz-animation: fade-in 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-in 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-in 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 44, ../sass/styles.scss */
body #message h1 #txt-message {
  font-weight: 500;
}
/* line 51, ../sass/styles.scss */
.count-down body #counter,
.count-down body #stream-container {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
}
/* line 56, ../sass/styles.scss */
.count-down body #message {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 63, ../sass/styles.scss */
.flash body #stream-container, .drop body #stream-container {
  display: none;
}
/* line 69, ../sass/styles.scss */
.drop body #counter {
  display: none;
}
/* line 78, ../sass/styles.scss */
body #counter, body #counter h1, body #counter h2,
body #message,
body #message h1,
body #message h2,
body #stream-container,
body #stream-container h1,
body #stream-container h2 {
  margin: 0;
  padding: 0;
}
/* line 84, ../sass/styles.scss */
body .fill {
  overflow: hidden;
}
/* line 88, ../sass/styles.scss */
body #snap-container {
  z-index: 3;
  position: absolute;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  -webkit-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
/* line 92, ../sass/styles.scss */
body #snap-container, body #snap-container img {
  width: 100%;
}
/* line 97, ../sass/styles.scss */
body #snap-container:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 109, ../sass/styles.scss */
.flash body #snap-container:before {
  -moz-animation: fade-out 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-animation: fade-out 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: fade-out 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
/* line 20, ../sass/_mixins.scss */
.lt-ie9 body #snap-container {
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
/* line 117, ../sass/styles.scss */
.drop body #snap-container {
  -moz-transition: -moz-transform 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -o-transition: -o-transform 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: transform 1.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-transform: rotate(50deg) translateY(100%) translateX(-10%) scale(0.1);
  -ms-transform: rotate(50deg) translateY(100%) translateX(-10%) scale(0.1);
  -webkit-transform: rotate(50deg) translateY(100%) translateX(-10%) scale(0.1);
  transform: rotate(50deg) translateY(100%) translateX(-10%) scale(0.1);
}
/* line 126, ../sass/styles.scss */
body #stream-container {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}
/* line 132, ../sass/styles.scss */
body #stream-container, body #stream-container video {
  width: 100%;
  height: 100%;
}
/* line 138, ../sass/styles.scss */
body #counter,
body #message {
  width: 100%;
  font-size: 4.3vw;
  position: relative;
  text-align: center;
}
/* line 140, ../sass/styles.scss */
body #counter h1, body #counter h2,
body #message h1,
body #message h2 {
  display: inline-block;
  font-weight: 400;
}
/* line 144, ../sass/styles.scss */
body #counter h1 strong, body #counter h2 strong,
body #message h1 strong,
body #message h2 strong {
  font-weight: 600;
}
/* line 149, ../sass/styles.scss */
body #counter h1,
body #message h1 {
  line-height: 1.1em;
}
/* line 159, ../sass/styles.scss */
body #message {
  top: 40%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2;
}
/* line 164, ../sass/styles.scss */
body #message h2 {
  font-size: 1.1em;
}
/* line 169, ../sass/styles.scss */
body #counter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
}
/* line 178, ../sass/styles.scss */
body #counter h1, body #counter h2 {
  font-size: 2.5em;
  font-weight: 600;
}
/* line 183, ../sass/styles.scss */
body #counter h1 {
  padding: 0;
  padding-top: 1.3vw;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
  width: 15vw;
  height: 15vw;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #f27134;
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
/* line 196, ../sass/styles.scss */
body #counter h2 {
  text-shadow: 0 0 2.5vw rgba(0, 0, 0, 0.35);
}
/* line 199, ../sass/styles.scss */
body #counter h2#smile {
  -moz-transform: translateY(135%);
  -ms-transform: translateY(135%);
  -webkit-transform: translateY(135%);
  transform: translateY(135%);
}
/* line 203, ../sass/styles.scss */
body #counter h2#directions {
  position: absolute;
  left: 0;
  bottom: 1vw;
  width: 100%;
  font-weight: 400;
  font-size: 2.2em;
}
/* line 212, ../sass/styles.scss */
body #counter h2#directions strong {
  font-weight: 600;
}
